<!DOCTYPE html>
<html lang="{{ .Language.Lang }}" class="dark:bg-zinc-800 bg-zinc-800 scroll-smooth">

<head>
    {{ partial "head.html" . }}
</head>

<body class="dark min-h-screen">
    <div class="min-w-full min-h-screen dark:bg-zinc-800 bg-zinc-100">
        {{ partial "nav.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
    </div>
</body>

</html>

<script>
    var vueApp = Vue.createApp({
        data() {
            return {
                display: 'Salut Lumeeeeee'
            }
        },
        delimiters: ['[[', ']]'],
    }).mount('#nav-app');

    function toggleDarkMode() {
        document.body.classList.toggle('dark');
    }

    //Make a toggleDarkMode() that also saves to local storage
    function toggleDarkMode() {
        document.body.classList.toggle('dark');
        localStorage.setItem('darkMode', document.body.classList.contains('dark'));
    }

    if (localStorage.getItem('darkMode') === 'true') {
        document.body.classList.add('dark');
    }

    toggleDarkMode();
</script>