{{define "main"}}
<div class="min-w-full min-h-full mx-auto">
  <div
    class="min-h-[40vh] min-w-full prose dark:prose-invert flex place-items-center bg-light-gradient dark:bg-dark-gradient bg-no-repeat bg-top bg-fixed bg-cover">
    <h1 class="mx-auto text-8xl italic text-zinc-100 select-none"> {{.Title}} </h1>
  </div>

  <div class="grid grid-cols-8">
    <article class="prose mx-auto dark:prose-invert col-span-2">
    </article>
    <article class="prose mx-auto dark:prose-invert col-span-4 max-w-full p-0">
      {{ .Content }}
    </article>
    <article class="prose mx-auto dark:prose-invert col-span-2">
      {{ .TableOfContents }}
    </article>
  </div>
</div>
{{end}}