{{ define "main" }}
<div class="min-h-[20vh] min-w-full prose dark:prose-invert flex place-items-center bg-light-gradient dark:bg-dark-gradient bg-no-repeat"
    id="banner">
    <h1 class="mx-auto text-8xl italic text-zinc-100 select-none"> {{ .Type }} </h1>
</div>

<div class="w-full flex flex-col gap-4 py-8 bg-zinc-900">
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
    <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" class="w-fit mx-auto text-center text-4xl my-2 dark:text-zinc-50 text-zinc-800 font-lato font-extrabold relative hover:underline">
        
        {{ $name }} 
    </a>
        {{ range $taxonomy.Pages }}
        <a href="{{ .Permalink }} "
            class="flex relative overflow-hidden !max-w-2xl mx-auto w-full flex-col bg-white border border-zinc-200 rounded-lg shadow dark:shadow-black/25 dark:shadow-lg md:flex-row md:max-w-xl hover:bg-zinc-100 dark:border-zinc-700/50 dark:bg-zinc-800 dark:hover:bg-zinc-700">
            <div class="flex flex-col p-4 leading-normal bg-transparent w-full relative">
                <h5 class="my-0 text-1xl font-bold tracking-tight text-zinc-900/90 dark:text-white"> {{.Title}} </h5>
                <p class="mt-0 font-normal text-zinc-700 text-sm dark:text-zinc-400 mb-0"> {{.Description}} </p>
            </div>
        </a>
        {{ end }}
    {{ end }}
</div>
{{ end }}