<nav id="nav-app" class="px-2 sm:px-4 fixed w-full transition-all z-50">
	<div class="container flex flex-wrap items-center justify-between mx-auto">
		<a href="/" class="flex items-center my-auto">
			<p id="title"
				class="italic font-montalt font-extrabold text-zinc-100 my-auto ml-0 drop-shadow-md transition-all">
				alexander</p>
		</a>
		<button data-collapse-toggle="navbar-default" type="button"
			class="inline-flex mr-8 items-center p-2 ml-3 text-sm text-zinc-100 rounded-lg md:hidden hover:bg-zinc-200/[0.5] focus:outline-none focus:ring-2 focus:ring-zinc-200 dark:text-zinc-400 dark:hover:bg-zinc-700 dark:focus:ring-zinc-600"
			aria-controls="navbar-default" aria-expanded="false">
			<svg class="w-12 h-12" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd"
					d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
					clip-rule="evenodd"></path>
			</svg>
		</button>
		<div class="hidden w-full md:block md:w-auto font-sans" />
		<ul id="nav-container"
			class="flex mr-0 flex-col drop-shadow-xl p-4 mt-4 rounded-lg bg-opacity-10 bg-zinc-100/[1.0] dark:bg-zinc-800/[0.25] md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0">
			{{ range .Site.Menus.main }}
			<li class="my-auto">
				<a href=" {{ .URL }}" class="nav-link {{ if $.IsMenuCurrent "main" . }} nav-link-selected"
					aria-current="page{{ end}}"> {{.Name}} </a>
			</li>
			{{ end }}
			<div class="flex items-center font-lato w-6 h-6 group cursor-pointer duration-[0s]"
				onclick="toggleDarkMode()">
				<i class="material-icons dark:text-zinc-50 text-zinc-700">dark_mode</i>
			</div>
		</ul>
	</div>
	</div>
</nav>

<script defer>
	document.getElementById('nav-app').classList.add('nav-rested');

	if (localStorage.getItem('darkMode') == 'true') {
		document.body.classList.add('dark');
	} else {
		document.body.classList.remove('dark');
	}
	// Make the nav apply a class after scrolling past 8rem
	window.addEventListener('scroll', function () {
		const nav = document.getElementById('nav-app');
		const title = document.getElementById('title');
		const navContainer = document.getElementById('nav-container');
		if (window.scrollY > 8) {
			nav.classList.remove('nav-rested');
			nav.classList.add('nav-scrolled');
		} else {
			nav.classList.remove('nav-scrolled')
			nav.classList.add('nav-rested')
		}
	});
</script>